 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1454px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 19px auto 0 34px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.625em;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -45px 1077px 0 170px;
}

.u-section-1 .u-group-1 {
  width: 977px;
  min-height: 189px;
  height: auto;
  margin: 27px auto 0 34px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 45px 27px 0 63px;
}

.u-section-1 .u-icon-3 {
  width: 54px;
  height: 54px;
  background-image: none;
  margin: -109px auto 0 0;
  padding: 5px;
}

.u-section-1 .u-table-1 {
  width: 338px;
  margin: -189px 537px 0 auto;
}

.u-block-d80e-219 {
  border-style: dotted;
}

.u-block-d80e-222 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.25em;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-3 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-block-d80e-296 {
  background-image: none;
}

.u-block-d80e-298 {
  padding: 10px 20px;
}

.u-section-1 .u-table-2 {
  width: 598px;
  margin: 34px auto 60px 34px;
}

.u-block-d80e-49 {
  border-style: dotted;
}

.u-block-d80e-48 {
  border-style: dotted;
}

.u-section-1 .u-table-header-2 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-4 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-5 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-6 {
  padding: 10px 20px;
}

.u-section-1 .u-table-body-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-19 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-20 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-22 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-23 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-24 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-25 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-26 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-27 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-28 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-29 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-30 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-31 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-32 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-33 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-34 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-35 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-36 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-37 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-38 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-39 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-40 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-41 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-42 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-d80e-35 {
  background-image: none;
}

.u-block-d80e-42 {
  padding: 10px 20px;
}

.u-block-d80e-43 {
  padding: 10px 20px;
}

.u-block-d80e-412 {
  padding: 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 764px;
    margin-left: 0;
    margin-right: 268px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 44px;
    margin-right: 9px;
  }

  .u-section-1 .u-table-1 {
    height: 855px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-right: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 486px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: -472px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 213px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -379px;
    margin-right: 202px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-top: -804px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 967px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -953px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 460px;
  }

  .u-section-1 .u-table-1 {
    margin-right: 2px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-top: -1050px;
  }
}